@bootstrap-path:          "~bootstrap/";

@import "~ui-framework/less/core";
@import "~ui-framework/less/contexts/app";

@font-path:               "~ui-framework/dist/fonts/";
@image-path:              "~ui-framework/dist/images/";
// @icon-font-path:          "~bootstrap/dist/fonts/";

@import "~font-awesome/less/font-awesome";
@fa-font-path:            "~font-awesome/fonts";

@import "~open-sans-fontface/open-sans";

@import "./base";

// Components
@import "./components/style";
